<ion-view view-title="Comunidad">
  <ion-content>
  	<ion-item>

  <h1> {{datos.nombre}}</h1>



  <h2> {{datos.detalle}}</h2>


  	</ion-item>



    <div ng-repeat="message in messages" class="message-wrapper disable-user-behavior">
      {{message.message}}
    </div>




      <div class="list light-grey form-message">
          <div class="item item-input-inset light-grey">
            <label  class="item-input-wrapper line-light-grey nopadtop">
              <input class="line-light-grey" ng-change="updateTyping()" type="text"  placeholder="Message" ng-enter="sendMessage()" ng-model="message">
            </label>
            <div >
              <button class="button button-energized" ng-click="sendMessage()"> oli </button>
            </div>
          </div>
      </div>








  </ion-content>
</ion-view>
