<ion-view view-title="Comunidades" class="titulo-vistas">
  <ion-content>
	<div class="list card">
	  <a class="item item-icon-left ">
	    <i class="icon ion-ios-people"></i>
	   	Mis comunidades 
	  </a>
	</div>
	<div class="list card">
	  <div class="item item-avatar">
	    <img src="/img/chile-seleccion.png">
	    <h2>Deportes Usachito</h2>
	    <p>Miembros:47	Servicios:7</p>
	  </div>
	   <div class="item item-avatar">
	    <img src="/img/clase.png">
	    <h2>Química III</h2>
		<p>Miembros:31	Servicios:4</p>	  
	  </div>
	   <div class="item item-avatar">
	    <img src="/img/estudio.png">
	    <h2>Estudio</h2>
	    <p>Miembros:52	Servicios:10</p>
	  </div>
	   <div class="item item-avatar">
	    <img src="/img/gamer.png">
	    <h2>Partidas Lolcito</h2>
	    <p>Miembros:10	Servicios:8</p>
	  </div>
	</div>
  </ion-content>
</ion-view>
