<ion-view view-title="Servicio">
	<br/> <br/> 
	<div class="list card" align="center">
	  <h2>Estadio USACH</h2>	
	  <img src="img/estadio.png" class="center">
	  
	  <a class="item item-icon-left " >
	    <i class="icon ion-calendar"></i>
	    Horario: Lu-Vi de 8:00 a 19:00 hrs<br/>
	    		 Sa	8:00 a 15:00 hrs
	  </a>
	  <a class="item item-icon-left " >
	    <i class="icon ion-bookmark"></i>
	    Dirección: Av. Ecuador #3949 - #3985<br/> Estación Central 
	  </a>
	  <a class="item item-icon-left ">
	    <i class="icon ion-at"></i>
	    Consulta actividades <a href="http://www.vrae.usach.cl/departamento-de-gestion-del-deporte-y-cultura"> aquí</a >
	</a>
	  <rating ng-model="data.rating" max="data.max" ></rating>
	</div>
</ion-view>
