<ion-view view-title="Inicio" class="titulo-vistas">
  <ion-content>
	<div class="list card">
		<div class="button-bar">
		  <a class="button button-balanced" href="#/app/comunidads"><i class="icon ion-ios-people"></i>
	    Comunidades</i></a>
		  <a class="button button-positive" href="#/app/servicios"><i class="icon ion-ios-briefcase"></i>
	    Servicios</a>
		</div>

	  <a class="button button-block button-assertive" href="#/app/tab-map"><i class="icon ion-map"></i>
	    Mapa Swarmy</i></a>
	</div>
  </ion-content>
</ion-view>
