<ion-view view-title="notificacion">
  <ion-content>
    <div class="list card">
      <a class="item item-icon-left ">
        <i class="icon ion-ios-people"></i>
        Notificaciones
      </a>
      </div>
      <div class="list card">
      <div class="button-bar">
      <a class="button button-l" href="#/app/crearNotificacion" ><i class="icon ion-plus"></i>
      Nueva notificacion 
      </a>
      </div>
    </div>

    <div class="list card">
      <ion-item ng-repeat="noti in notificacionData">
        {{noti.titulo}}
        {{noti.contenido}}
      </ion-item>
    </div>
  </ion-content>

</ion-view>

