<div class="bar bar-stable bar-customize">
  <h1 class="title">Registro</h1>
</div>

<br><br><br>
    <div class="list list-inset">
    	<label class="item item-input item-stacked-label">
            <span class="input-label">Nombre de Usuario</span> 
          </label>



  <label class="item item-input">
    <i class="icon ion-person placeholder-icon"></i>
    <input type="text" placeholder="Ingrese su nombre de usuario" ng-model='input.nombreUsuario'>    
  </label>
</div>
<div class="list card">
	<a href="#/app/inicio" style="text-decoration: none;"><button class="button button-full button-positive">
          Open next page
        </button></a>
 </div>
</ion-view>

</ion-side-menus>
