<ion-content class="splash">
	<img class="center logo" src="img/logo.png">
	<p class="splash-texto">Algunas características básicas de la aplicación serán mencionadas aquí!</p>
	<ion-slide-box>
	  <ion-slide>
	    <div class="box box-splash">
	    	<img src="img/splash-box-1.png" class="center">
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box box-splash">
		    <img src="img/splash-box-2.png" class="center">
		</div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box box-splash">
		    <img src="img/splash-box-3.png" class="center">
		</div>
	  </ion-slide>
	</ion-slide-box>
</ion-content>
<ion-footer-bar align-title="left" class="bar-assertive">
  <h1 class="title">Iniciar con Google</h1>
  <div class="buttons" ng-click="doSomething()">
    <a class="button" href="#/registro">
    	&nbsp;&nbsp;<i class="ion-social-googleplus splash-footer-icon"></i>&nbsp;&nbsp;
    </a>
  </div>
</ion-footer-bar>